.about-holder {
	background-color: rgb(253, 253, 253);
	display: grid;
	grid-template-areas:
		"back   title"
		"photo  photo"
		"footer footer";
	justify-items: center;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	border-radius: 50px;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	height: 35rem;
	width: 60rem;
}

.about-back-button {
	grid-area: back;
	background: white;
	border: none;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 50%;
	font-size: 2rem;
	height: 3rem;
	width: 3rem;
	outline: none;
	cursor: pointer;
	justify-self: start;
	margin-left: 1.5rem;
	margin-top: 3.5rem;
	display: flex;
	align-items: center;
}

.button-link {
	color: black;
}

.button-link:hover {
	transition: 0.00001s ease;
	color: gray;
}

.about-title {
	grid-area: title;
	margin-left: -25rem;
}

.about-logo {
	height: 20rem;
	border-radius: 50px;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	grid-area: photo;
	margin-top: -2rem;
}

.footer {
	grid-area: footer;
	margin-bottom: -1rem;
}

.link-link {
	text-decoration: none;
	text-align: center;
	color: gray;
}

.version {
	text-align: center;
	margin-top: 0;
}

/*              Viewport less then or equal to 768px            */

@media only screen and (max-width: 768px) {
	.about-holder {
		width: 40rem;
	}

	.about-title {
		margin-left: -14rem;
	}
}

/*        x      Viewport less then or equal to 768px       x     */

/*              Viewport less then or equal to 520px            */

@media only screen and (max-width: 520px) {
	.about-holder {
		width: 22rem;
		height: 30rem;
	}

	.about-back-button {
		margin-top: 1.5rem;
	}

	.about-logo {
		height: 15rem;
		margin-top: -2rem;
	}

	.about-title {
		font-size: 3rem;
		margin-top: 1.5rem;
		margin-left: -10rem;
	}

	.footer {
		margin-bottom: -2rem;
	}
}

/*        x      Viewport less then or equal to 520px       x     */

/*              Viewport less then or equal to 320px            */

@media only screen and (max-width: 320px) {
	.about-holder {
		width: 18rem;
		height: 30rem;
	}

	.about-back-button {
		margin-top: 1.5rem;
	}

	.about-logo {
		height: 15rem;
		margin-top: -2rem;
	}

	.about-title {
		font-size: 2.5rem;
		margin-top: 1.5rem;
		margin-left: -7rem;
	}

	.footer {
		margin-bottom: -3rem;
	}
}

/*        x      Viewport less then or equal to 320px       x     */
