.history-holder {
	background-color: rgb(253, 253, 253);
	display: grid;
	grid-template-areas:
		"heading"
		"scores";
	justify-items: center;
	/* align-items: center; */
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	border-radius: 50px;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	height: 35rem;
	width: 60rem;
}

.title {
	grid-area: heading;
}

.scores-container {
	grid-area: scores;
	background-color: rgb(253, 253, 253);
	display: grid;
	justify-items: center;
	align-items: center;
	width: 100%;
	overflow-y: scroll;
}

.score-list {
	display: grid;
	justify-items: center;
	align-items: center;
	border-radius: 50px;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	width: 80%;
	height: max-content;
	background-color: #f4f4f4;
	margin-bottom: 3rem;
}

/*              Viewport less then or equal to 750px            */

@media only screen and (max-width: 750px) {
	.history-holder {
		width: 25rem;
	}
}

/*        x      Viewport less then or equal to 750px       x     */
