.history-holder {
	background-color: rgb(253, 253, 253);
	display: grid;
	grid-template-areas:
		"back heading"
		"scores scores";
	justify-items: center;
	overflow: hidden;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	border-radius: 50px;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	height: 35rem;
	width: 60rem;
}

.hist-back-button {
	grid-area: back;
	background: white;
	border: none;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 50%;
	font-size: 2rem;
	height: 3rem;
	width: 3rem;
	outline: none;
	cursor: pointer;
	justify-self: start;
	margin-left: 1.5rem;
	display: flex;
	align-items: center;
	margin-top: 3.5rem;
}

.delete-button {
	background: white;
	border: none;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 50%;
	font-size: 2rem;
	height: 3rem;
	width: 3rem;
	outline: none;
	cursor: pointer;
	position: relative;
	justify-self: end;
	right: 1rem;
	bottom: 1rem;
	display: flex;
	align-items: center;
}

.button-link {
	color: black;
}

.button-delete {
	color: grey;
}

.button-link:hover {
	transition: 0.00001s ease;
	color: gray;
}

.icon {
	font-size: 5rem;
	color: gray;
	position: absolute;
	top: 50%;
	left: 45%;
	transform: translate(-50%, -50%);
	animation: spinLogo 2s infinite ease-out;
}

@keyframes spinLogo {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(359deg);
	}
}

.title {
	grid-area: heading;
	margin-left: -28rem;
}

.scores-container {
	grid-area: scores;
	background-color: rgb(253, 253, 253);
	display: grid;
	justify-items: center;
	align-items: center;
	width: 100%;
	overflow-y: scroll;
	position: relative;
}

.score-list {
	display: grid;
	justify-items: center;
	align-items: center;
	border-radius: 50px;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	width: 80%;
	height: max-content;
	background-color: #f4f4f4;
	margin-bottom: 3rem;
	overflow: scroll;
}

.flex {
	display: flex;
}

.separator {
	padding: 0 0.3rem;
}

.history-winner {
	color: rgb(176, 255, 169);
}

.history-loser {
	color: rgb(255, 169, 169);
}

/*              Viewport less then or equal to 768px            */

@media only screen and (max-width: 768px) {
	.history-holder {
		width: 39rem;
		height: 30rem;
	}

	.title {
		margin-left: -18rem;
	}
}

/*        x      Viewport less then or equal to 768px       x     */

/*              Viewport less then or equal to 520px            */

@media only screen and (max-width: 520px) {
	.history-holder {
		width: 20rem;
		height: 30rem;
	}

	.title {
		font-size: 2rem;
		margin-left: -7.2rem;
		margin-top: 2rem;
	}

	.hist-back-button {
		margin-top: 1.8rem;
	}
}

/*        x      Viewport less then or equal to 520px       x     */

/*              Viewport less then or equal to 320px            */

@media only screen and (max-width: 320px) {
	.history-holder {
		width: 18rem;
		height: 32rem;
	}

	.title {
		font-size: 2rem;
		margin-left: -7.2rem;
		margin-top: 2rem;
	}

	.hist-back-button {
		margin-top: 1.8rem;
	}
}

/*        x      Viewport less then or equal to 320px       x     */
