.score {
	display: grid;
	background: #f4f4f4;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 50px;
	width: 10rem;
	height: 16rem;
	justify-items: center;
	align-items: center;
	margin: 0 1rem;
}

.curr-score {
	font-size: 4rem;
}

.button {
	background: white;
	border: none;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 50%;
	font-size: 2rem;
	height: 3rem;
	width: 3rem;
	outline: none;
	cursor: pointer;
}

.button:hover {
	color: gray;
}

.minus {
	margin-left: 0.5rem;
}

.player {
	font-size: 2rem;
	padding-top: 2.5rem;
}

.done {
	pointer-events: none;
}

.winner {
	background: rgb(176, 255, 169);
	box-shadow: 0px 4px 4px rgba(176, 255, 169, 0.25);
}

.loser {
	background: rgb(255, 169, 169);
	box-shadow: 0px 4px 4px rgba(255, 169, 169, 0.25);
}

/*              Viewport less then or equal to 750px            */

@media only screen and (max-width: 750px) {
}

/*        x      Viewport less then or equal to 750px       x     */

/*              Viewport less then or equal to 520px            */

@media only screen and (max-width: 520px) {
}

/*        x      Viewport less then or equal to 520px       x     */

/*              Viewport less then or equal to 320px            */

@media only screen and (max-width: 320px) {
}

/*        x      Viewport less then or equal to 320px       x     */
