.score-holder {
	position: absolute;
	display: grid;
	grid-template-areas:
		"back   game   game"
		"new   best   next"
		"status status status"
		"score1 mid    score2";
	justify-items: center;
	align-items: center;
	background-color: rgb(253, 253, 253);
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border-radius: 50px;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	height: 32rem;
	width: 60rem;
	padding-bottom: 5rem;
}

.score-back-button {
	grid-area: back;
	background: white;
	border: none;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 50%;
	font-size: 2rem;
	height: 3rem;
	width: 3rem;
	outline: none;
	cursor: pointer;
	justify-self: start;
	margin-left: 1.5rem;
	display: flex;
	align-items: center;
}

.button-link {
	color: black;
}

.button-link:hover {
	transition: 0.00001s ease;
	color: gray;
}

.new-button {
	background: white;
	border: none;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 50px;
	font-size: 1.5rem;
	outline: none;
	cursor: pointer;
	grid-area: new;
	margin-top: -3.5rem;
	padding: 1rem;
}

.new-button:hover {
	color: gray;
}

.next-button {
	background: white;
	border: none;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 50px;
	font-size: 1.5rem;
	outline: none;
	cursor: pointer;
	grid-area: next;
	margin-top: -3.5rem;
	padding: 1rem;
	pointer-events: none;
}

.next-button:hover {
	color: gray;
}

.game-type {
	grid-area: game;
	margin-left: -20rem;
}

.best-of {
	grid-area: best;
	margin-top: -2.5rem;
	text-align: center;
}

.score1 {
	grid-area: score1;
}

.status {
	grid-area: status;
}

.separator {
	text-align: center;
	grid-area: mid;
}

.score2 {
	grid-area: score2;
}

h1 {
	font-size: 4rem;
}

.hidden {
	opacity: 0;
	pointer-events: none;
}

.clickable {
	pointer-events: all;
	background: rgb(176, 255, 169);
	box-shadow: 0px 4px 4px rgba(176, 255, 169, 0.25);
}

.shown {
	opacity: 1;
}

/*              Viewport less then or equal to 770px            */

@media only screen and (max-width: 770px) {
	.score-back-button {
		margin-left: 7rem;
	}

	.game-type {
		grid-area: game;
		margin-left: -20rem;
	}
}

/*        x      Viewport less then or equal to 770px       x     */

/*              Viewport less then or equal to 750px            */

@media only screen and (max-width: 750px) {
	.score-holder {
		height: 40rem;
		width: 28rem;
	}

	.score-back-button {
		margin-left: 1.5rem;
	}

	.game-type {
		margin-left: -12rem;
	}
}

/*        x      Viewport less then or equal to 750px       x     */

/*              Viewport less then or equal to 520px            */

@media only screen and (max-width: 520px) {
}

/*        x      Viewport less then or equal to 520px       x     */

/*              Viewport less then or equal to 320px            */

@media only screen and (max-width: 320px) {
}

/*        x      Viewport less then or equal to 320px       x     */
