.score-holder {
	position: absolute;
	display: grid;
	grid-template-areas:
		"game   game   game"
		"status status status"
		"score1 mid    score2";
	justify-items: center;
	align-items: center;
	background-color: rgb(253, 253, 253);
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border-radius: 50px;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	height: 30rem;
	width: 60rem;
	padding-bottom: 5rem;
}

.game-type {
	grid-area: game;
}

.score1 {
	grid-area: score1;
}

.status {
	grid-area: status;
}

.separator {
	text-align: center;
	grid-area: mid;
}

.score2 {
	grid-area: score2;
}

h1 {
	font-size: 4rem;
}

/*              Viewport less then or equal to 750px            */

@media only screen and (max-width: 750px) {
	.score-holder {
		height: 40rem;
		width: 27rem;
	}
}

/*        x      Viewport less then or equal to 750px       x     */

/*              Viewport less then or equal to 520px            */

@media only screen and (max-width: 520px) {
}

/*        x      Viewport less then or equal to 520px       x     */

/*              Viewport less then or equal to 320px            */

@media only screen and (max-width: 320px) {
}

/*        x      Viewport less then or equal to 320px       x     */
