.start-holder {
	background-color: rgb(253, 253, 253);
	display: grid;
	grid-template-areas:
		"heading heading heading"
		"player1 vs      player2"
		"game    game    game"
		"rounds  rounds  rounds"
		"null    null    button";
	justify-items: center;
	align-items: center;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	border-radius: 50px;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	height: 35rem;
	width: 60rem;
}

.heading {
	grid-area: heading;
	font-size: 2.5rem;
}

.player-input {
	background: #f4f4f4;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 50px;
	width: 12rem;
	text-align: center;
	margin: 3rem;
	height: 4rem;
}

.player1 {
	grid-area: player1;
}

.vs {
	grid-area: vs;
	font-size: 2.5rem;
}

.player2 {
	grid-area: player2;
}

.game {
	grid-area: game;
	width: 12rem;
	text-align: center;
	height: 4rem;
}

.rounds {
	grid-area: rounds;
	width: 12rem;
	text-align: center;
	height: 4rem;
}

.game-arrow {
	position: relative;
	right: 1.4rem;
	bottom: 0rem;
	font-size: 1rem;
}

.rounds-arrow {
	position: relative;
	right: -4.8rem;
	bottom: 2.4rem;
	font-size: 1rem;
}

#rounds,
#game {
	background: #f4f4f4;
	border: none;
	outline: none;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 50px;
	padding: 1.2rem;
	font-size: 1.5rem;
	cursor: pointer;
}

.game select {
	appearance: none;
}

.rounds select {
	appearance: none;
}

.player-input input {
	outline: none;
	border: none;
	font-family: var(--Lexend);
	background: transparent;
	font-size: 1.5rem;
	padding: 1rem;
}

.button-start {
	background: white;
	border: none;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 50%;
	font-size: 2rem;
	height: 3rem;
	width: 3rem;
	outline: none;
	cursor: pointer;
	grid-area: button;
	justify-self: end;
	margin-right: 2rem;
	margin-bottom: 2rem;
}

.button-link {
	color: black;
}

/*              Viewport less then or equal to 750px            */

@media only screen and (max-width: 750px) {
	.start-holder {
		grid-template-areas:
			"heading"
			"player1"
			"vs"
			"player2"
			"game"
			"rounds"
			"button";
		height: 50rem;
		width: 25rem;
	}

	.heading,
	.vs {
		font-size: 3rem;
	}

	.player-input {
		width: 9rem;
		margin: 1rem;
	}

	.player1 {
		margin-bottom: -1rem;
	}

	.player2 {
		margin-top: -1rem;
	}

	.rounds-arrow {
		right: 1.3rem;
		bottom: 0rem;
	}
}

/*        x      Viewport less then or equal to 750px       x     */

/*              Viewport less then or equal to 520px            */

@media only screen and (max-width: 520px) {
}

/*        x      Viewport less then or equal to 520px       x     */

/*              Viewport less then or equal to 320px            */

@media only screen and (max-width: 320px) {
}

/*        x      Viewport less then or equal to 320px       x     */
