.start-holder {
	background-color: rgb(253, 253, 253);
	display: grid;
	grid-template-areas:
		"back heading heading"
		"player1 vs      player2"
		"game    game    game"
		"rounds  rounds  button";
	justify-items: center;
	align-items: center;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	border-radius: 50px;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	height: 35rem;
	width: 60rem;
}

.start-back-button {
	grid-area: back;
	background: white;
	border: none;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 50%;
	font-size: 2rem;
	height: 3rem;
	width: 3rem;
	outline: none;
	cursor: pointer;
	justify-self: start;
	margin-left: 1.5rem;
	display: flex;
	align-items: center;
}

.button-link {
	color: black;
}

.button-link:hover {
	transition: 0.00001s ease;
	color: gray;
}

.heading {
	grid-area: heading;
	font-size: 2.5rem;
	margin-left: -27rem;
}

.player-input {
	background: #f4f4f4;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 50px;
	width: 12rem;
	text-align: center;
	margin: 3rem;
	height: 4rem;
}

.player1 {
	grid-area: player1;
}

.vs {
	grid-area: vs;
	font-size: 2.5rem;
}

.player2 {
	grid-area: player2;
}

.game {
	grid-area: game;
	width: 12rem;
	text-align: center;
	height: 4rem;
}

.rounds {
	grid-area: rounds;
	width: 12rem;
	text-align: center;
	height: 4rem;
}

#rounds {
	margin-left: 12.5rem;
}

.game-arrow {
	position: relative;
	right: 1.4rem;
	bottom: 0rem;
	font-size: 1rem;
}

.rounds-arrow {
	position: relative;
	right: -16.8rem;
	bottom: 2.4rem;
	font-size: 1rem;
}

#rounds,
#game {
	background: #f4f4f4;
	border: none;
	outline: none;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 50px;
	padding: 1.2rem;
	font-size: 1.5rem;
	cursor: pointer;
}

#rounds:hover {
	color: gray;
	transition: 0.00001s ease;
}

#game:hover {
	color: gray;
	transition: 0.00001s ease;
}

.game select {
	appearance: none;
}

.rounds select {
	appearance: none;
}

.player-input input {
	outline: none;
	border: none;
	font-family: var(--Lexend);
	background: transparent;
	font-size: 1.5rem;
	padding: 1rem;
}

.button-start {
	background: white;
	border: none;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 50%;
	font-size: 2rem;
	height: 3rem;
	width: 3rem;
	outline: none;
	cursor: pointer;
	grid-area: button;
	justify-self: end;
	margin-right: 2rem;
	margin-bottom: 2rem;
}

/*              Viewport less then or equal to 768px            */

@media only screen and (max-width: 768px) {
	.start-holder {
		grid-template-areas:
			"back    heading"
			"player1 player1"
			"vs      vs"
			"player2 player2"
			"game    game"
			"rounds  button";
		height: 33rem;
		width: 40rem;
	}

	.heading {
		margin-left: -21rem;
	}

	.heading,
	.vs {
		font-size: 3rem;
	}

	.vs {
		margin-top: -1rem;
	}

	.player-input {
		width: 9rem;
		margin: 1rem;
	}

	.player1 {
		margin-top: -1rem;
	}

	.player2 {
		margin-top: -1rem;
	}

	#game {
		/* margin-top: -3rem; */
		margin-left: 1rem;
	}

	#rounds {
		margin-left: 8.8rem;
		/* margin-top: -9rem; */
	}

	.rounds-arrow {
		right: -13.1rem;
		bottom: 2.5rem;
	}

	.button-start {
		margin-top: 2rem;
	}
}

/*        x      Viewport less then or equal to 768px       x     */

/*              Viewport less then or equal to 520px            */

@media only screen and (max-width: 520px) {
	.start-holder {
		width: 20rem;
		height: 32rem;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
	}

	.heading {
		font-size: 2.3rem;
		margin-left: -11rem;
	}

	.vs {
		margin-top: 0rem;
	}

	.player1 {
		margin-bottom: 0rem;
	}

	.player2 {
		margin-top: -2rem;
	}

	#game {
		margin-top: 0;
	}

	#rounds {
		margin-top: -1rem;
		margin-left: 3.5rem;
	}

	.rounds-arrow {
		right: -8rem;
		bottom: 2.5rem;
	}

	.button-start {
		margin-right: 0.5rem;
	}
}

/*        x      Viewport less then or equal to 520px       x     */

/*              Viewport less then or equal to 320px            */

@media only screen and (max-width: 320px) {
	.start-holder {
		width: 18rem;
		height: 35rem;
	}

	.heading {
		font-size: 2rem;
		margin-left: -11rem;
	}

	.vs {
		margin-top: 0rem;
		font-size: 2rem;
	}

	.player1 {
		margin-bottom: 0rem;
		height: 3.3rem;
	}

	.player1 input {
		font-size: 1.2rem;
	}

	.player2 input {
		font-size: 1.2rem;
	}

	.player2 {
		margin-top: -2rem;
		height: 3.3rem;
	}

	#game {
		margin-top: 0;
		font-size: 1.2rem;
		height: 3.5rem;
	}

	#rounds {
		margin-top: -1rem;
		margin-left: 3.5rem;
		font-size: 1.2rem;
		height: 3.5rem;
	}

	.rounds-arrow {
		right: -6.1rem;
		bottom: 2.2rem;
	}

	.button-start {
		margin-right: 0.5rem;
		margin-bottom: 1rem;
	}
}

/*        x      Viewport less then or equal to 320px       x     */
