/* simple - enter transition 300ms, exit 150ms */
.fade-appear,
.fade-enter {
	opacity: 0;
	z-index: 1;
}
.fade-appear-active,
.fade-enter.fade-enter-active {
	opacity: 1;
}

.fade-exit {
	opacity: 1;
}

.fade-exit.fade-exit-active {
	opacity: 0;
	transition: opacity 150ms linear;
}

.dark-mode {
	filter: invert(0.85) hue-rotate(160deg);
	transition: all 3s ease-in forwards;
}

.toggle {
	position: absolute;
	background: white;
	border: solid 2px black;
	margin: 1rem;
	border-radius: 50px;
	padding: 0.5rem;
	outline: none;
	cursor: pointer;
	z-index: 5;

	&:hover {
		border: solid 1px black;
	}
}

.auth-link {
	position: absolute;
	background: white;
	border: solid 2px black;
	margin: 1rem;
	border-radius: 50px;
	padding: 0.5rem;
	outline: none;
	right: 1rem;
	cursor: pointer;

	&:hover {
		border: solid 1px black;
	}
}

.confirm-new {
	background-color: rgb(253, 253, 253);
	border-radius: 50px;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.confirm-new-title {
	font-size: 3rem;
	padding-left: 2rem;
	padding-top: 2rem;
	padding-right: 2rem;
}

.confirm-new-text {
	padding: 0 2rem;
}

.confirm-new-yes {
	background: white;
	border: none;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 50px;
	font-size: 1rem;
	outline: none;
	cursor: pointer;
	margin-left: 2rem;
	padding: 1rem;
	margin-bottom: 1rem;
}

.confirm-new-no {
	background: white;
	border: none;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 50px;
	font-size: 1rem;
	outline: none;
	cursor: pointer;
	margin-left: 0.5rem;
	margin-bottom: 1rem;
	padding: 1rem;
}

/* Auth Screen */

.auth-holder {
	background-color: rgb(253, 253, 253);
	display: grid;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	border-radius: 50px;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	width: 70%;

	.auth-back-button {
		background: white;
		border: none;
		box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
		border-radius: 50%;
		font-size: 2rem;
		height: 3rem;
		width: 3rem;
		outline: none;
		cursor: pointer;
		justify-self: start;
		display: flex;
		align-items: center;
		margin-top: 1rem;

		.button-link {
			color: black;

			&:hover {
				transition: 0.00001s ease;
				color: gray;
			}
		}
	}

	.flex {
		display: flex;
		padding-top: 2rem;
		justify-content: space-around;
	}

	.toggler {
		background: white;
		border: none;
		box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
		border-radius: 50px;
		outline: none;
		padding: 1rem;
		height: min-content;
		margin-top: 1rem;
		cursor: pointer;

		&:hover {
			background: rgb(228, 228, 228);
		}

		.button-link {
			color: black;

			&:hover {
				transition: 0.00001s ease;
				color: gray;
			}
		}
	}

	.col {
		display: grid;
		place-items: center;
	}

	.form {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.input {
		font-family: inherit;
		text-align: center;
		padding: 1rem;
		border-radius: 50px;
		margin: 1rem 0;
		border: solid 2px black;
		outline: none;
	}

	.submit {
		font-family: inherit;
		background: white;
		border: none;
		box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
		border-radius: 50px;
		padding: 1rem;
		cursor: pointer;
		outline: none;
		margin-bottom: 2rem;

		&:hover {
			background: rgb(228, 228, 228);
		}
	}

	.icon {
		font-size: 5rem;
		color: gray;
		position: absolute;
		top: 50%;
		left: 45%;
		transform: translate(-50%, -50%);
		animation: spinLogo 2s infinite ease-out;
	}

	@keyframes spinLogo {
		from {
			transform: rotate(0deg);
		}
		to {
			transform: rotate(359deg);
		}
	}
}
.notice {
	width: 100vw;
	height: 100vh;
	display: grid;
	background: rgba(255, 255, 255, 0.9);
	position: relative;
	opacity: 0;

	.status-block-success {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		border-radius: 10px;
		padding: 0 0.2rem;
		width: 10rem;
		text-align: center;
		opacity: 0;
		border: solid 2px rgb(0, 255, 0);
		background: rgb(163, 255, 163);
		color: rgb(71, 255, 71);
	}

	.status-block-failure {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		border-radius: 10px;
		padding: 0 0.2rem;
		width: 10rem;
		text-align: center;
		opacity: 0;
		border: solid 2px rgb(255, 0, 0);
		background: rgb(255, 163, 163);
		color: rgb(255, 71, 71);
	}
}

.shown {
	opacity: 1 !important;
	z-index: 3;
}

/* x Auth Screen x */

/* Splash Screen */

.splash-holder {
	background-color: rgb(253, 253, 253);
	display: grid;
	position: absolute;
	left: 50%;
	top: 50%;
	place-items: center;
	transform: translate(-50%, -50%);
	border-radius: 50px;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	width: 70%;

	.logo {
		height: 18rem;
		border-radius: 50px;
		margin: 2rem 0 1rem 0;
		box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	}

	.links {
		list-style-type: none;
		margin-left: -1.5rem;

		.link {
			font-size: 1.5rem;
			text-decoration: none;
			color: black;
			padding: 1rem 0;
			text-align: center;

			&:hover {
				color: rgba(0, 0, 0, 0.25);
			}
		}
	}
}

/* x Splash Screen x */

/* About  */

.about-holder {
	background-color: rgb(253, 253, 253);
	display: grid;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	border-radius: 50px;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	width: 70%;

	.flex {
		display: flex;
		padding-top: 2rem;
		justify-content: space-around;
	}

	.about-back-button {
		background: white;
		border: none;
		box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
		border-radius: 50%;
		font-size: 2rem;
		height: 3rem;
		width: 3rem;
		margin: 0 -1rem 0 1rem;
		outline: none;
		cursor: pointer;
		display: flex;
		align-items: center;

		.button-link {
			color: black;

			&:hover {
				transition: 0.00001s ease;
				color: gray;
			}
		}
	}

	.about-title {
		margin: 0 auto;
	}

	.about-logo {
		height: 20rem;
		border-radius: 50px;
		box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
		place-self: center;
	}

	.footer {
		place-self: center;
		.link-link {
			text-decoration: none;
			text-align: center;
			color: gray;
		}

		.version {
			text-align: center;
		}
	}
}

/* x About x */

/* History */

.history-holder {
	background-color: rgb(253, 253, 253);
	display: grid;
	overflow: hidden;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	border-radius: 50px;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	width: 70%;
	height: 70%;

	.flex {
		display: flex;
		padding-top: 2rem;
		justify-content: space-around;
	}

	.icon {
		font-size: 5rem;
		color: gray;
		position: absolute;
		top: 50%;
		left: 45%;
		transform: translate(-50%, -50%);
		animation: spinLogo 2s infinite ease-out;
	}

	@keyframes spinLogo {
		from {
			transform: rotate(0deg);
		}
		to {
			transform: rotate(359deg);
		}
	}

	.hist-back-button {
		background: white;
		border: none;
		box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
		border-radius: 50%;
		font-size: 2rem;
		height: 3rem;
		width: 3rem;
		margin: 0 -1rem 0 1rem;
		outline: none;
		cursor: pointer;
		justify-self: start;
		margin-left: 1.5rem;
		display: flex;
		align-items: center;
		margin-bottom: 1rem;

		.button-link {
			color: black;

			&:hover {
				transition: 0.00001s ease;
				color: gray;
			}
		}
	}

	.title {
		margin: 0 auto;
	}

	.scores-container {
		background-color: rgb(253, 253, 253);
		display: grid;
		justify-items: center;
		align-items: center;
		width: 100%;
		overflow-y: scroll;
		position: relative;

		.score-list {
			display: grid;
			justify-items: center;
			align-items: center;
			border-radius: 50px;
			box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
			width: 80%;
			height: max-content;
			background-color: #f4f4f4;
			margin-bottom: 3rem;
			overflow-x: auto;

			.flex {
				display: flex;

				.history-winner {
					color: rgb(176, 255, 169);
				}

				.separator {
					padding: 0 0.3rem;
				}

				.history-loser {
					color: rgb(255, 169, 169);
				}
			}

			.delete-button {
				background: white;
				border: none;
				box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
				border-radius: 50%;
				font-size: 2rem;
				height: 3rem;
				width: 3rem;
				outline: none;
				cursor: pointer;
				position: relative;
				justify-self: end;
				right: 1rem;
				bottom: 1rem;
				display: flex;
				align-items: center;
				justify-content: center;

				.button-delete {
					color: grey;

					&:hover {
						transition: 0.00001s ease;
						color: gray;
					}
				}
			}
		}
	}
}

/* x History x */

/* Start */

.start-holder {
	background-color: rgb(253, 253, 253);
	display: flex;
	flex-direction: column;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	border-radius: 50px;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	width: 70%;

	.flex {
		display: flex;
		padding-top: 2rem;
		justify-content: space-around;
	}

	.start-back-button {
		background: white;
		border: none;
		box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
		border-radius: 50%;
		font-size: 2rem;
		height: 3rem;
		width: 3rem;
		margin: 0 -1rem 0 1rem;
		outline: none;
		cursor: pointer;
		justify-self: start;
		display: flex;
		align-items: center;

		.button-link {
			color: black;

			&:hover {
				transition: 0.00001s ease;
				color: gray;
			}
		}
	}

	.heading {
		font-size: 2.5rem;
		margin: 0 auto;
	}

	.flex2 {
		display: flex;
		padding-top: 2rem;
		justify-content: space-around;
	}

	.player-input {
		background: #f4f4f4;
		box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
		border-radius: 50px;
		width: 12rem;
		text-align: center;
		height: 4rem;

		input {
			outline: none;
			border: none;
			font-family: var(--Lexend);
			background: transparent;
			font-size: 1.5rem;
			padding: 1rem;
		}
	}

	.vs {
		font-size: 2.5rem;
		margin: 0;
	}

	.flex3 {
		display: flex;
		flex-direction: column;
		place-items: center;
	}

	.game {
		width: 12rem;
		text-align: center;
		height: 4rem;
		margin: 2rem 0;

		#game {
			background: #f4f4f4;
			border: none;
			outline: none;
			box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
			border-radius: 50px;
			padding: 1.2rem;
			font-size: 1.5rem;
			cursor: pointer;

			&:hover {
				color: gray;
				transition: 0.00001s ease;
			}
		}

		.game-arrow {
			position: relative;
			right: 1.4rem;
			bottom: 0rem;
			font-size: 1rem;
		}

		select {
			appearance: none;
		}
	}

	.rounds {
		width: 12rem;
		text-align: center;
		height: 4rem;

		#rounds {
			background: #f4f4f4;
			border: none;
			outline: none;
			box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
			border-radius: 50px;
			padding: 1.2rem;
			font-size: 1.5rem;
			cursor: pointer;

			&:hover {
				color: gray;
				transition: 0.00001s ease;
			}
		}

		.rounds-arrow {
			position: relative;
			right: -4.8rem;
			bottom: 2.4rem;
			font-size: 1rem;
		}

		select {
			appearance: none;
		}
	}

	.button-start {
		background: white;
		border: none;
		box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
		border-radius: 50%;
		font-size: 2rem;
		height: 3rem;
		width: 3rem;
		outline: none;
		justify-self: end;
		align-self: flex-end;
		display: flex;
		align-items: center;
		justify-content: center;
		margin: 2rem;
		cursor: pointer;

		.button-link {
			color: black;

			&:hover {
				transition: 0.00001s ease;
				color: gray;
			}
		}
	}
}

/* x Start x */

/* Score Holder */

.score-holder {
	position: absolute;
	display: grid;
	background-color: rgb(253, 253, 253);
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border-radius: 50px;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	width: 70%;
	padding-bottom: 5rem;
	overflow: hidden;

	.winner {
		background: rgb(176, 255, 169);
		box-shadow: 0px 4px 4px rgba(176, 255, 169, 0.25);
	}

	.loser {
		background: rgb(255, 169, 169);
		box-shadow: 0px 4px 4px rgba(255, 169, 169, 0.25);
	}

	.clickable {
		pointer-events: all !important;
		background: rgb(176, 255, 169) !important;
		box-shadow: 0px 4px 4px rgba(176, 255, 169, 0.25) !important;
		opacity: 1 !important;
	}

	.flex {
		display: flex;
		padding-top: 2rem;
		justify-content: space-around;
	}

	.score-back-button {
		background: white;
		border: none;
		box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
		border-radius: 50%;
		font-size: 2rem;
		height: 3rem;
		width: 3rem;
		margin: 0 -1rem 0 1rem;
		outline: none;
		cursor: pointer;
		justify-self: start;
		display: flex;
		align-items: center;

		.button-link {
			color: black;

			&:hover {
				transition: 0.00001s ease;
				color: gray;
			}
		}
	}

	.game-type {
		margin: 0 auto;
	}

	.flex2 {
		display: flex;
		padding-top: 2rem;
		justify-content: space-around;
	}

	.new-button {
		background: white;
		border: none;
		box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
		border-radius: 50px;
		font-size: 1.5rem;
		outline: none;
		cursor: pointer;
		grid-area: new;
		padding: 1rem;

		&:hover {
			color: gray;
		}
	}

	.best-of {
		text-align: center;
	}

	.next-button {
		background: white;
		border: none;
		box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
		border-radius: 50px;
		font-size: 1.5rem;
		outline: none;
		cursor: pointer;
		padding: 1rem;
		pointer-events: none;
		opacity: 0;

		&:hover {
			color: gray;
		}
	}

	.flex4 {
		display: flex;
		padding-top: 2rem;
		justify-content: space-around;
	}

	.flex3 {
		display: flex;
		flex-direction: column;
		place-items: center;
	}

	.separator {
		text-align: center;
	}

	h1 {
		font-size: 4rem;
	}
}

/* x Score Holder x */

/* Score  */

.score {
	display: grid;
	background: #f4f4f4;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 50px;
	width: 10rem;
	height: 16rem;
	justify-items: center;
	align-items: center;
	margin: 0 1rem;

	.done {
		pointer-events: none;
	}

	.curr-score {
		font-size: 4rem;
	}

	.button {
		background: white;
		border: none;
		box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
		border-radius: 50%;
		font-size: 2rem;
		height: 3rem;
		width: 3rem;
		outline: none;
		cursor: pointer;

		&:hover {
			color: gray;
		}
	}

	.minus {
		margin-left: 0.5rem;
	}

	.player {
		font-size: 2rem;
		padding-top: 2.5rem;
	}
}

/* x Score x */

/*              Viewport less then or equal to 768px            */

@media only screen and (max-width: 768px) {
	.start-holder {
		.heading {
			font-size: 3rem;
		}

		.vs {
			font-size: 3rem;
		}

		.player-input {
			width: 9rem;
			margin: 1rem;
		}
		.rounds-arrow {
			right: -13.1rem;
			bottom: 2.5rem;
		}

		.button-start {
			margin-top: 2rem;
		}
	}
}

/*        x      Viewport less then or equal to 768px       x     */

/*              Viewport less then or equal to 520px            */

@media only screen and (max-width: 520px) {
	.about-holder {
		.about-logo {
			height: 15rem;
			margin: 2rem 0;
		}
	}

	.start-holder {
		.heading {
			font-size: 2.3rem;
		}

		.flex2 {
			flex-direction: column;
			align-items: center;
		}

		.vs {
			margin: 1rem 0;
		}

		.rounds-arrow {
			right: 1.2rem !important;
			bottom: 0rem !important;
		}

		.button-start {
			margin-right: 0.5rem;
		}
	}

	.confirm-new {
		width: 20rem;
	}

	.confirm-new-title {
		font-size: 2rem;
	}

	.score-holder {
		.game-type {
			font-size: 2.5rem;
		}

		.new-button {
			font-size: 1rem;
			width: 5rem;
			height: 4rem;
		}

		.next-button {
			font-size: 1rem;
			width: 5rem;
			height: 4rem;
		}
	}

	.score {
		width: 6.5rem;
		height: 15rem;

		.plus {
			height: 2.5rem;
			width: 2.5rem;
			font-size: 1.5rem;
			margin-right: 0;
		}

		.minus {
			height: 2.5rem;
			width: 2.5rem;
			font-size: 1.5rem;
			margin-right: 0;
		}

		.player {
			font-size: 1.2rem;
		}
	}
}

/*        x      Viewport less then or equal to 520px       x     */

/*              Viewport less then or equal to 320px            */

@media only screen and (max-width: 320px) {
	.splash-holder {
		.logo {
			height: 12rem;
		}

		.links {
			margin-left: -2rem;
		}
	}

	.about-holder {
		.about-logo {
			height: 12rem;
		}

		.about-title {
			font-size: 2.5rem;
		}
	}

	.history-holder {
		.title {
			font-size: 2rem;
		}
	}

	.start-holder {
		.heading {
			font-size: 1.5rem;
		}

		.vs {
			font-size: 2rem;
			margin: 0.2rem 0;
		}

		.player1 {
			height: 3.3rem;
			margin-top: -1rem;

			input {
				font-size: 1.2rem;
			}
		}

		.player2 {
			height: 3.3rem;

			input {
				font-size: 1.2rem;
			}
		}

		#game {
			font-size: 1.2rem !important;
			height: 3.5rem;
			margin-top: -1.5rem;
		}

		#rounds {
			font-size: 1.2rem !important;
			height: 3.5rem;
			margin-top: -1.5rem;
		}

		.rounds-arrow {
			right: -6.1rem !important;
			bottom: 2.2rem !important;
		}

		.button-start {
			margin-right: 1rem;
			margin-top: -1rem;
		}
	}

	.confirm-new {
		width: 15rem;
	}

	.confirm-new-title {
		font-size: 2rem;
	}

	.game-type {
		font-size: 2.5rem;
	}

	.new-button {
		font-size: 1rem;
		width: 5rem;
		height: 4rem;
	}

	.next-button {
		font-size: 1rem;
		width: 5rem;
		height: 4rem;
	}

	.score-holder {
		width: 85%;

		.game-type {
			font-size: 1.5rem;
		}

		.best-of {
			font-size: 1.2rem;
		}

		.status {
			font-size: 1.2rem;
		}
	}

	.score {
		width: 5rem;
		grid-template-areas:
			"score"
			"plus"
			"minus";

		.curr-score {
			grid-area: score;
			margin-top: 0.5rem;
			font-size: 3.5rem;
		}

		.plus {
			grid-area: plus;
			margin-left: 1rem;
		}

		.minus {
			grid-area: minus;
			margin-top: 0.5rem;
			margin-left: 1rem;
		}
	}
}

/*        x      Viewport less then or equal to 320px       x     */
