/* simple - enter transition 300ms, exit 150ms */
.fade-appear,
.fade-enter {
  opacity: 0;
  z-index: 1;
}

.fade-appear-active,
.fade-enter.fade-enter-active {
  opacity: 1;
}

.fade-exit {
  opacity: 1;
}

.fade-exit.fade-exit-active {
  opacity: 0;
  -webkit-transition: opacity 150ms linear;
  transition: opacity 150ms linear;
}

.dark-mode {
  -webkit-filter: invert(0.85) hue-rotate(160deg);
          filter: invert(0.85) hue-rotate(160deg);
  -webkit-transition: all 3s ease-in forwards;
  transition: all 3s ease-in forwards;
}

.toggle {
  position: absolute;
  background: white;
  border: solid 2px black;
  margin: 1rem;
  border-radius: 50px;
  padding: 0.5rem;
  outline: none;
  cursor: pointer;
}

.toggle:hover {
  border: solid 1px black;
}

.auth-link {
  position: absolute;
  background: white;
  border: solid 2px black;
  margin: 1rem;
  border-radius: 50px;
  padding: 0.5rem;
  outline: none;
  right: 1rem;
  cursor: pointer;
}

.auth-link:hover {
  border: solid 1px black;
}

.confirm-new {
  background-color: #fdfdfd;
  border-radius: 50px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.confirm-new-title {
  font-size: 3rem;
  padding-left: 2rem;
  padding-top: 2rem;
  padding-right: 2rem;
}

.confirm-new-text {
  padding: 0 2rem;
}

.confirm-new-yes {
  background: white;
  border: none;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 50px;
  font-size: 1rem;
  outline: none;
  cursor: pointer;
  margin-left: 2rem;
  padding: 1rem;
  margin-bottom: 1rem;
}

.confirm-new-no {
  background: white;
  border: none;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 50px;
  font-size: 1rem;
  outline: none;
  cursor: pointer;
  margin-left: 0.5rem;
  margin-bottom: 1rem;
  padding: 1rem;
}

/* Auth Screen */
.auth-holder {
  background-color: #fdfdfd;
  display: -ms-grid;
  display: grid;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-radius: 50px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  width: 70%;
}

.auth-holder .auth-back-button {
  background: white;
  border: none;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 50%;
  font-size: 2rem;
  height: 3rem;
  width: 3rem;
  outline: none;
  cursor: pointer;
  justify-self: start;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 1rem;
}

.auth-holder .auth-back-button .button-link {
  color: black;
}

.auth-holder .auth-back-button .button-link:hover {
  -webkit-transition: 0.00001s ease;
  transition: 0.00001s ease;
  color: gray;
}

.auth-holder .flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 2rem;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.auth-holder .toggler {
  background: white;
  border: none;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 50px;
  outline: none;
  padding: 1rem;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  margin-top: 1rem;
  cursor: pointer;
}

.auth-holder .toggler .button-link {
  color: black;
}

.auth-holder .toggler .button-link:hover {
  -webkit-transition: 0.00001s ease;
  transition: 0.00001s ease;
  color: gray;
}

.auth-holder .col {
  display: -ms-grid;
  display: grid;
  place-items: center;
}

.auth-holder .form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.auth-holder .input {
  font-family: inherit;
  text-align: center;
  padding: 1rem;
  border-radius: 50px;
  margin: 1rem 0;
  border: solid 2px black;
  outline: none;
}

.auth-holder .submit {
  font-family: inherit;
  background: white;
  border: none;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 50px;
  padding: 1rem;
  cursor: pointer;
  outline: none;
}

.auth-holder .submit:hover {
  background: #e4e4e4;
}

.auth-holder .status-block-success {
  border-radius: 10px;
  padding: 0 0.2rem;
  width: 10rem;
  text-align: center;
  opacity: 0;
  border: solid 2px lime;
  background: #a3ffa3;
  color: #47ff47;
}

.auth-holder .status-block-failure {
  border-radius: 10px;
  padding: 0 0.2rem;
  width: 10rem;
  text-align: center;
  opacity: 0;
  border: solid 2px red;
  background: #ffa3a3;
  color: #ff4747;
}

.shown {
  opacity: 1 !important;
}

/* x Auth Screen x */
/* Splash Screen */
.splash-holder {
  background-color: #fdfdfd;
  display: -ms-grid;
  display: grid;
  position: absolute;
  left: 50%;
  top: 50%;
  place-items: center;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-radius: 50px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  width: 70%;
}

.splash-holder .logo {
  height: 18rem;
  border-radius: 50px;
  margin: 2rem 0 1rem 0;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.splash-holder .links {
  list-style-type: none;
  margin-left: -1.5rem;
}

.splash-holder .links .link {
  font-size: 1.5rem;
  text-decoration: none;
  color: black;
  padding: 1rem 0;
  text-align: center;
}

.splash-holder .links .link:hover {
  color: rgba(0, 0, 0, 0.25);
}

/* x Splash Screen x */
/* About  */
.about-holder {
  background-color: #fdfdfd;
  display: -ms-grid;
  display: grid;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-radius: 50px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  width: 70%;
}

.about-holder .flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 2rem;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.about-holder .about-back-button {
  background: white;
  border: none;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 50%;
  font-size: 2rem;
  height: 3rem;
  width: 3rem;
  margin: 0 -1rem 0 1rem;
  outline: none;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about-holder .about-back-button .button-link {
  color: black;
}

.about-holder .about-back-button .button-link:hover {
  -webkit-transition: 0.00001s ease;
  transition: 0.00001s ease;
  color: gray;
}

.about-holder .about-title {
  margin: 0 auto;
}

.about-holder .about-logo {
  height: 20rem;
  border-radius: 50px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  place-self: center;
}

.about-holder .footer {
  place-self: center;
}

.about-holder .footer .link-link {
  text-decoration: none;
  text-align: center;
  color: gray;
}

.about-holder .footer .version {
  text-align: center;
}

/* x About x */
/* History */
.history-holder {
  background-color: #fdfdfd;
  display: -ms-grid;
  display: grid;
  overflow: hidden;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-radius: 50px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  width: 70%;
  height: 70%;
}

.history-holder .flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 2rem;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.history-holder .icon {
  font-size: 5rem;
  color: gray;
  position: absolute;
  top: 50%;
  left: 45%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-animation: spinLogo 2s infinite ease-out;
          animation: spinLogo 2s infinite ease-out;
}

@-webkit-keyframes spinLogo {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
            transform: rotate(359deg);
  }
}

@keyframes spinLogo {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
            transform: rotate(359deg);
  }
}

.history-holder .hist-back-button {
  background: white;
  border: none;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 50%;
  font-size: 2rem;
  height: 3rem;
  width: 3rem;
  margin: 0 -1rem 0 1rem;
  outline: none;
  cursor: pointer;
  justify-self: start;
  margin-left: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 1rem;
}

.history-holder .hist-back-button .button-link {
  color: black;
}

.history-holder .hist-back-button .button-link:hover {
  -webkit-transition: 0.00001s ease;
  transition: 0.00001s ease;
  color: gray;
}

.history-holder .title {
  margin: 0 auto;
}

.history-holder .scores-container {
  background-color: #fdfdfd;
  display: -ms-grid;
  display: grid;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  overflow-y: scroll;
  position: relative;
}

.history-holder .scores-container .score-list {
  display: -ms-grid;
  display: grid;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  width: 80%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  background-color: #f4f4f4;
  margin-bottom: 3rem;
  overflow-x: auto;
}

.history-holder .scores-container .score-list .flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.history-holder .scores-container .score-list .flex .history-winner {
  color: #b0ffa9;
}

.history-holder .scores-container .score-list .flex .separator {
  padding: 0 0.3rem;
}

.history-holder .scores-container .score-list .flex .history-loser {
  color: #ffa9a9;
}

.history-holder .scores-container .score-list .delete-button {
  background: white;
  border: none;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 50%;
  font-size: 2rem;
  height: 3rem;
  width: 3rem;
  outline: none;
  cursor: pointer;
  position: relative;
  justify-self: end;
  right: 1rem;
  bottom: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.history-holder .scores-container .score-list .delete-button .button-delete {
  color: grey;
}

.history-holder .scores-container .score-list .delete-button .button-delete:hover {
  -webkit-transition: 0.00001s ease;
  transition: 0.00001s ease;
  color: gray;
}

/* x History x */
/* Start */
.start-holder {
  background-color: #fdfdfd;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-radius: 50px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  width: 70%;
}

.start-holder .flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 2rem;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.start-holder .start-back-button {
  background: white;
  border: none;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 50%;
  font-size: 2rem;
  height: 3rem;
  width: 3rem;
  margin: 0 -1rem 0 1rem;
  outline: none;
  cursor: pointer;
  justify-self: start;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.start-holder .start-back-button .button-link {
  color: black;
}

.start-holder .start-back-button .button-link:hover {
  -webkit-transition: 0.00001s ease;
  transition: 0.00001s ease;
  color: gray;
}

.start-holder .heading {
  font-size: 2.5rem;
  margin: 0 auto;
}

.start-holder .flex2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 2rem;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.start-holder .player-input {
  background: #f4f4f4;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 50px;
  width: 12rem;
  text-align: center;
  height: 4rem;
}

.start-holder .player-input input {
  outline: none;
  border: none;
  font-family: var(--Lexend);
  background: transparent;
  font-size: 1.5rem;
  padding: 1rem;
}

.start-holder .vs {
  font-size: 2.5rem;
  margin: 0;
}

.start-holder .flex3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  place-items: center;
}

.start-holder .game {
  width: 12rem;
  text-align: center;
  height: 4rem;
  margin: 2rem 0;
}

.start-holder .game #game {
  background: #f4f4f4;
  border: none;
  outline: none;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 50px;
  padding: 1.2rem;
  font-size: 1.5rem;
  cursor: pointer;
}

.start-holder .game #game:hover {
  color: gray;
  -webkit-transition: 0.00001s ease;
  transition: 0.00001s ease;
}

.start-holder .game .game-arrow {
  position: relative;
  right: 1.4rem;
  bottom: 0rem;
  font-size: 1rem;
}

.start-holder .game select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.start-holder .rounds {
  width: 12rem;
  text-align: center;
  height: 4rem;
}

.start-holder .rounds #rounds {
  background: #f4f4f4;
  border: none;
  outline: none;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 50px;
  padding: 1.2rem;
  font-size: 1.5rem;
  cursor: pointer;
}

.start-holder .rounds #rounds:hover {
  color: gray;
  -webkit-transition: 0.00001s ease;
  transition: 0.00001s ease;
}

.start-holder .rounds .rounds-arrow {
  position: relative;
  right: -4.8rem;
  bottom: 2.4rem;
  font-size: 1rem;
}

.start-holder .rounds select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.start-holder .button-start {
  background: white;
  border: none;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 50%;
  font-size: 2rem;
  height: 3rem;
  width: 3rem;
  outline: none;
  justify-self: end;
  -ms-flex-item-align: end;
      align-self: flex-end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 2rem;
  cursor: pointer;
}

.start-holder .button-start .button-link {
  color: black;
}

.start-holder .button-start .button-link:hover {
  -webkit-transition: 0.00001s ease;
  transition: 0.00001s ease;
  color: gray;
}

/* x Start x */
/* Score Holder */
.score-holder {
  position: absolute;
  display: -ms-grid;
  display: grid;
  background-color: #fdfdfd;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-radius: 50px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  width: 70%;
  padding-bottom: 5rem;
  overflow: hidden;
}

.score-holder .winner {
  background: #b0ffa9;
  -webkit-box-shadow: 0px 4px 4px rgba(176, 255, 169, 0.25);
          box-shadow: 0px 4px 4px rgba(176, 255, 169, 0.25);
}

.score-holder .loser {
  background: #ffa9a9;
  -webkit-box-shadow: 0px 4px 4px rgba(255, 169, 169, 0.25);
          box-shadow: 0px 4px 4px rgba(255, 169, 169, 0.25);
}

.score-holder .clickable {
  pointer-events: all !important;
  background: #b0ffa9 !important;
  -webkit-box-shadow: 0px 4px 4px rgba(176, 255, 169, 0.25) !important;
          box-shadow: 0px 4px 4px rgba(176, 255, 169, 0.25) !important;
  opacity: 1 !important;
}

.score-holder .flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 2rem;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.score-holder .score-back-button {
  background: white;
  border: none;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 50%;
  font-size: 2rem;
  height: 3rem;
  width: 3rem;
  margin: 0 -1rem 0 1rem;
  outline: none;
  cursor: pointer;
  justify-self: start;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.score-holder .score-back-button .button-link {
  color: black;
}

.score-holder .score-back-button .button-link:hover {
  -webkit-transition: 0.00001s ease;
  transition: 0.00001s ease;
  color: gray;
}

.score-holder .game-type {
  margin: 0 auto;
}

.score-holder .flex2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 2rem;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.score-holder .new-button {
  background: white;
  border: none;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 50px;
  font-size: 1.5rem;
  outline: none;
  cursor: pointer;
  grid-area: new;
  padding: 1rem;
}

.score-holder .new-button:hover {
  color: gray;
}

.score-holder .best-of {
  text-align: center;
}

.score-holder .next-button {
  background: white;
  border: none;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 50px;
  font-size: 1.5rem;
  outline: none;
  cursor: pointer;
  padding: 1rem;
  pointer-events: none;
  opacity: 0;
}

.score-holder .next-button:hover {
  color: gray;
}

.score-holder .flex4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 2rem;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.score-holder .flex3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  place-items: center;
}

.score-holder .separator {
  text-align: center;
}

.score-holder h1 {
  font-size: 4rem;
}

/* x Score Holder x */
/* Score  */
.score {
  display: -ms-grid;
  display: grid;
  background: #f4f4f4;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 50px;
  width: 10rem;
  height: 16rem;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 1rem;
}

.score .done {
  pointer-events: none;
}

.score .curr-score {
  font-size: 4rem;
}

.score .button {
  background: white;
  border: none;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 50%;
  font-size: 2rem;
  height: 3rem;
  width: 3rem;
  outline: none;
  cursor: pointer;
}

.score .button:hover {
  color: gray;
}

.score .minus {
  margin-left: 0.5rem;
}

.score .player {
  font-size: 2rem;
  padding-top: 2.5rem;
}

/* x Score x */
/*              Viewport less then or equal to 768px            */
@media only screen and (max-width: 768px) {
  .start-holder .heading {
    font-size: 3rem;
  }
  .start-holder .vs {
    font-size: 3rem;
  }
  .start-holder .player-input {
    width: 9rem;
    margin: 1rem;
  }
  .start-holder .rounds-arrow {
    right: -13.1rem;
    bottom: 2.5rem;
  }
  .start-holder .button-start {
    margin-top: 2rem;
  }
}

/*        x      Viewport less then or equal to 768px       x     */
/*              Viewport less then or equal to 520px            */
@media only screen and (max-width: 520px) {
  .about-holder .about-logo {
    height: 15rem;
    margin: 2rem 0;
  }
  .start-holder .heading {
    font-size: 2.3rem;
  }
  .start-holder .flex2 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .start-holder .vs {
    margin: 1rem 0;
  }
  .start-holder .rounds-arrow {
    right: 1.2rem !important;
    bottom: 0rem !important;
  }
  .start-holder .button-start {
    margin-right: 0.5rem;
  }
  .confirm-new {
    width: 20rem;
  }
  .confirm-new-title {
    font-size: 2rem;
  }
  .score-holder .game-type {
    font-size: 2.5rem;
  }
  .score-holder .new-button {
    font-size: 1rem;
    width: 5rem;
    height: 4rem;
  }
  .score-holder .next-button {
    font-size: 1rem;
    width: 5rem;
    height: 4rem;
  }
  .score {
    width: 6.5rem;
    height: 15rem;
  }
  .score .plus {
    height: 2.5rem;
    width: 2.5rem;
    font-size: 1.5rem;
    margin-right: 0;
  }
  .score .minus {
    height: 2.5rem;
    width: 2.5rem;
    font-size: 1.5rem;
    margin-right: 0;
  }
  .score .player {
    font-size: 1.2rem;
  }
}

/*        x      Viewport less then or equal to 520px       x     */
/*              Viewport less then or equal to 320px            */
@media only screen and (max-width: 320px) {
  .splash-holder .logo {
    height: 12rem;
  }
  .splash-holder .links {
    margin-left: -2rem;
  }
  .about-holder .about-logo {
    height: 12rem;
  }
  .about-holder .about-title {
    font-size: 2.5rem;
  }
  .history-holder .title {
    font-size: 2rem;
  }
  .start-holder .heading {
    font-size: 1.5rem;
  }
  .start-holder .vs {
    font-size: 2rem;
    margin: 0.2rem 0;
  }
  .start-holder .player1 {
    height: 3.3rem;
    margin-top: -1rem;
  }
  .start-holder .player1 input {
    font-size: 1.2rem;
  }
  .start-holder .player2 {
    height: 3.3rem;
  }
  .start-holder .player2 input {
    font-size: 1.2rem;
  }
  .start-holder #game {
    font-size: 1.2rem !important;
    height: 3.5rem;
    margin-top: -1.5rem;
  }
  .start-holder #rounds {
    font-size: 1.2rem !important;
    height: 3.5rem;
    margin-top: -1.5rem;
  }
  .start-holder .rounds-arrow {
    right: -6.1rem !important;
    bottom: 2.2rem !important;
  }
  .start-holder .button-start {
    margin-right: 1rem;
    margin-top: -1rem;
  }
  .confirm-new {
    width: 15rem;
  }
  .confirm-new-title {
    font-size: 2rem;
  }
  .game-type {
    font-size: 2.5rem;
  }
  .new-button {
    font-size: 1rem;
    width: 5rem;
    height: 4rem;
  }
  .next-button {
    font-size: 1rem;
    width: 5rem;
    height: 4rem;
  }
  .score-holder {
    width: 85%;
  }
  .score-holder .game-type {
    font-size: 1.5rem;
  }
  .score-holder .best-of {
    font-size: 1.2rem;
  }
  .score-holder .status {
    font-size: 1.2rem;
  }
  .score {
    width: 5rem;
        grid-template-areas: "score" "plus" "minus";
  }
  .score .curr-score {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: score;
    margin-top: 0.5rem;
    font-size: 3.5rem;
  }
  .score .plus {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: plus;
    margin-left: 1rem;
  }
  .score .minus {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    grid-area: minus;
    margin-top: 0.5rem;
    margin-left: 1rem;
  }
}

/*        x      Viewport less then or equal to 320px       x     */
/*# sourceMappingURL=App.css.map */