/*  font-family: Lexend  */
@font-face {
	font-family: Lexend;
	src: url("./fonts/Lexend_Deca/LexendDeca-Regular.ttf");
}

html,
body {
	margin: 0;
	padding: 0;
	overflow: auto;
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	/*      theme font-family   */
	--Lexend: "Lexend", sans-serif;

	font-family: var(--Lexend);
}

* {
	transition: all 1s ease;
}
